/** Search form */
.search-form {
  @extend .form-inline;
}

.search-form label {
  @extend .form-group;

  font-weight: normal;
}

.search-form .search-field {
  @extend .form-control;
}

.search-form .search-submit {
  @extend .btn;
  @extend .btn-secondary;
}

/* Constant Contact Form */
.elementor-widget-html {
	.ctct-form-embed.form_2 .ctct-form-defaults {
		background-color: transparent;
	}
	.ctct-form-embed.form_2 .ctct-form-defaults .ctct-form-text, .ctct-form-embed.form_2 .ctct-form-custom .ctct-form-label, .ctct-form-embed.form_2 .ctct-form-custom .ctct-form-listname, .ctct-form-embed.form_2 .ctct-form-custom .ctct-form-lists-legend, .ctct-form-embed.form_2 .ctct-form-custom .ctct-form-date-slash, .ctct-form-embed.form_2 .ctct-form-defaults .ctct-gdpr-text, .ctct-form-embed.form_2 .ctct-form-defaults .ctct-gdpr-text .ctct-form-footer-link, .ctct-form-embed.form_2 .ctct-form-defaults .ctct-gdpr-text .ctct-form-footer-privacy-link {
		color: #ffffff;
	}
}
